*{
    box-sizing: border-box;
    font-size: 18px;
}

.title-container{

    padding-left: 20px;
    margin-top: 20px;

}

.title-container h1{
    margin-left: 20px;
}

.buttons{
    padding: 5px 20px;
    margin-top: 20px;
    color: white;
}

.buttons img{
    height: 20px;

}
#btnSearch{
    float: right;
    height: 35px;
}

.buttons button{
    font-size: 14px;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: aqua;
    border-radius: 20px;
    border: 2px solid black;
}

.buttons button:hover {
    background-color: rgb(0, 183, 255);
}

.messages-container{
    background-color: rgba(255, 255, 255, 0.899);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
}

.smsList p{
    font-size: 15px;
    margin: 5px;
    
}

.sms{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background-color:rgba(3, 117, 231, 0.899);
    color: rgb(255, 255, 255);
}

.spams{
    font-size: 15px;
    margin: 5px;
}

.spams p{
    font-size: 15px;
    margin: 5px;
}

.sms:hover{
    background-color: rgb(1, 87, 247);
}

.spam{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background-color:rgba(3, 117, 231, 0.899);
    color: white;
}


.convo-header{
    border: none;
    background-color: aqua;
    margin-top: 10px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
}

.convo-header img{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;

}

.convo-header button{
    float: right;
    margin-left:auto;
    background: none;
    border: none;
    margin-top: 0;
}

.sender{
    height: 70px;
}
.sender h1{
    font-size: 25px;
}

.sender p{
    font-size: 15px;
}

.convo-sms{
    margin: 10px;
    padding:10px
}

.rcv{
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: rgba(41, 141, 241, 0.899);
    color: white;
}

.rcv p{
    margin: 0;
}

.send{
    width: fit-content;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.send p{
    margin: 0;
}

.compose-sms{
    bottom: 0;
    margin: 10px;
    position: fixed;
    width: 100%;
    padding: 5px;
}

.compose-sms input{
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 80%;
}

.compose-sms button{
    border: none;
    background: none;
    float: right;
    margin-right: 20px;
    margin-top: 7px;
}

.conversation{
    display: none;
}